<div class="follow_form" id="follow_form">
  <p class="t-right"><span class="high"><strong>Активность сканера: </strong>
    <% if Scaner.last %>
       <%= ((Time.now + 14400) - Scaner.select(:last_time).last.last_time).round %>
     cек. назад
    <% else %>
       <%= %>
       ещё не был запущен
    <% end %>



 
</span>
  <h3 class="tit">Аварийная панель</h3> 
  <table>
    <tr>
      <th>Номер абонента</th>
      <th>Время начала аварии</th>
      <th>Время завершения аварии</th>
      <th>Просмотр</th>
    </tr>

    <% i ||= 1 %>
    <% @alarms.each do |alarm| %>
      
      <tr <%= raw "class=\"bg\"" if (i % 2).zero? %> >
        <td><%= Subscriber.find(alarm.subscriber_id).number %></td>
        <td><%= alarm.alarm_raised_time %></td>
        <td><%= alarm.cleared_time %></td>      	
      </tr>
    <% i += 1 %>
    <% end %>
  </table>
<%= audio_tag("Critical.wav", :autobuffer => true, :autoplay => true, :loop => true) if @ring %>
</div>


