<!-- 
Используется плагин для отрисовки графиков
http://graph.prootime.ru/
http://prootime.ru/5graph-jquery-pugin
 -->

<!-- Definition List -->
<h3 class="tit">Общая статистика</h3>
<dl>
  <dt>Абонентов прописано</dt>
  <dd><%= @sub_all %></dd>
  <dt>Абонентов мониторится</dt>
  <dd><%= @sub_all_control %></dd>
  
  <dt>Абонентов в аварии</dt>
  <dd><%= @sub_alarm %></dd>


  <dt>Абонентов зарегестрировано</dt>
  <dd><%= @sub_all_control - @sub_alarm %></dd>
</dl>

<h5 class="tit">График статистики аварий за сегодня</h5>
 <canvas id='example' width="700">
      Этот текст отобразится если браузер не поддерживает html5 элемент canvas.
</canvas>

 <script type="text/javascript">

	





















	

var properties = {
        "background":"#ffffff", //общий фон 
        "linescolor":"#dbdbdb", //цвет сетки
        "lineswidth":1, //ширина линий сетки
        "gridwidth":1, //минимальное расстояние между вертикальными линиями
        "gorizontfontcolor":"#969696", //цвет текста на горизонтальных линиях
        "verticalfontcolor":"#969696", //цвет текста на вертикальных линиях
        "gorizontfont":"bold 12px Arial", //шрифт на горизонтальных линиях
        "verticalfont":"bold 8px Arial", //шрифт на вертикальных линиях
};


var hints = {
        'background':'#fff', //фон подсказки
        'bordercolor':'#000', //цвет границы
        'borderwidth':2, //ширина границы
        'paddingtb':2, //отступы сверху и снизу
        'paddinglr':5, //отступы слева и справа
        'borderradius':6, //закругленность прямоугольника
        'lineheight':2, //расстояние между строками
        'font':[ //шрифты построчно
        {'color':'#ff7f50','font':'bold 12px Verdana'},            
        {'color':'#ff0000','font':'bold 12px Verdana'},
        {'color':'#008000','font':'bold 12px Verdana'}     
        ]
};

//массив для построения графика
var data = {'graph': [
        {'point': [ // Прирост аварий за час     \"Прирост аварий в течении часа\"
        <% i = 1 %>
        <% @graph[:alarm_count].each do |count_str| %>
           <% str = "{\"val\": #{count_str}, \"gval\":\"#{i.to_s}:00\", \"desc\": \"Прирост аварий в течении часа\"}" %>
             <% str << "," if i < @graph[:alarm_count].length  %>
             <% i += 1 %>
             <%== str %>
        <% end %>        
        ],
        'properties':{
        'linecolor':'#ff7f50', //цвет линий соединящих точки графика
        'pointcolor':'#ff7f50', //цвет точек
        'spacecolor':'#8cb9c8', //цвет области под графиком
        'linewidth':2, //толщина линий соединяющие точки
        'pointradius':1, //радиус точек
        'spacealpha':0.1, //степень прозрачности области под графиком
        'activepointwidth':2 //радиус активной точки
        }
        },
        {'point': [ // Общее кол-во аварий \"Кол-во аварий\"
        <% i = 1 %>
        <% @graph[:alarm_all_count].each do |count_str| %>
           <% str = "{\"val\": #{count_str}, \"gval\":\"#{i.to_s}:00\", \"desc\": \"Кол-во аварий\"}" %>
             <% str << "," if i < @graph[:alarm_count].length  %>
             <% i += 1 %>
             <%== str %>
        <% end %>        
        ],
        'properties':{
        'linecolor':'#ff0000', //цвет линий соединящих точки графика
        'pointcolor':'#ff0000', //цвет точек
        'spacecolor':'#F1AA7A', //цвет области под графиком
        'linewidth':2, //толщина линий соединяющие точки
        'pointradius':3, //радиус точек
        'spacealpha':0.1, //степень прозрачности области под графиком
        'activepointwidth':4 //радиус активной точки
        }
        }, // Число восстановлений за час           \"Восстановлений в течении часа\"
        {'point': [
       <% i = 1 %>
        <% @graph[:alarm_cleared_count].each do |count_str| %>
           <% str = "{\"val\": #{count_str}, \"gval\":\"#{i.to_s}:00\", \"desc\": \"Восстановлений в течении часа\"}" %>
             <% str << "," if i < @graph[:alarm_count].length  %>
             <% i += 1 %>
             <%== str %>
        <% end %>        
        ],
        'properties':{
        'linecolor':'#008000', //цвет линий соединящих точки графика
        'pointcolor':'#008000', //цвет точек
        'spacecolor':'#F1AA7A', //цвет области под графиком
        'linewidth':2, //толщина линий соединяющие точки
        'pointradius':1, //радиус точек
        'spacealpha':0.1, //степень прозрачности области под графиком
        'activepointwidth':2 //радиус активной точки
        }
        }]};













      $(document).ready(function(){
          
	plotgraph('#example',data,properties,hints)

          });
        </script>

